li {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
  align-items: center;
}

.box {
  display: block;
  position: relative;
  padding-left: 3.5rem;
  margin-bottom: 1.2rem;
  cursor: pointer;
  font-size: 2.2rem;
}

.box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.5rem;
  width: 2.5rem;
  border: 0.3rem solid #000;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.box input:checked ~ .checkmark:after {
  display: block;
}

.box .checkmark:after {
  left: 0.6rem;
  top: 0.2rem;
  width: 0.7rem;
  height: 1.5rem;
  border: solid #000;
  border-width: 0 0.3rem 0.3rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
