.filter {
  overflow-y: scroll;
  height: 77vh;
}

.header {
  background-color: hsl(0, 0%, 85%);
}

ul {
  padding: 2rem 3.5rem 0;
  list-style: none;
  font-size: 2rem;
}

.filter-nav {
  display: flex;
  gap: 40rem;
  padding: 1rem 3rem 0;
}

.filter-nav p {
  font-size: 3rem;
  font-weight: 700;
}

.filter-nav img {
  cursor: pointer;
}

.button-box {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  border-top: 0.5rem solid hsl(0, 0%, 85%);
}

.span {
  border-bottom: 0.2rem solid hsl(0, 0%, 85%);
}

button {
  border: 0.3rem solid #000;
  padding: 1rem 7.5rem;
  font-family: inherit;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
  background-color: #fff;
}

.save {
  background-color: #000;
  color: #fff;
}

@media (width <= 37.4em) {
  .filter-tag {
    display: none;
  }
}

@media (width > 37.4em) {
  .header {
    display: none;
  }

  ul {
    padding: 0;
  }

  .span {
    margin-bottom: 2rem;
  }

  .filter {
    overflow-y: auto;
    height: auto;
    /* background-color: #fff !important; */
  }

  .filter-nav {
    display: none;
  }

  .filter-tag {
    display: flex;
    padding: 0 0 5rem 0;
  }

  .filter-tag p {
    font-size: 2rem;
    font-weight: 700;
  }

  .button-box {
    display: none;
  }
}
