.hero {
  padding: 2rem;
}

.heading {
  font-size: 4rem;
  font-weight: 700;
  line-height: 3.5rem;
  padding-bottom: 3.5rem;
}

.background-image {
  background-image: url(../../assests/dog.png);
  background-size: contain;
  padding-top: 21.6rem;
}

.image-text {
  background-color: #fff;
  width: 60%;
  padding: 3rem 2rem 2rem 2rem;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
}
