.filter {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(0%, 11%);
  width: 100vw;
  opacity: 1;
  animation: slideIn 1s;
  transition: all;
  background-color: #fff;
  z-index: 50;
}

.products {
  padding: 3rem;
  position: relative;
}

.tag {
  background-color: #fff;
  width: 35%;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
  position: absolute;
  z-index: 2;
}

.image img {
  width: 100%;
  position: relative;
}

.button {
  width: 100%;
  font-family: inherit;
  font-weight: 500;
  font-size: 2rem;
  padding: 1.5rem;
  border: none;
  background-color: #000;
  color: #fff;
  letter-spacing: 0.3rem;
  position: relative;
  top: 50%;
  left: -50%;
  transform: translate(50%, -100%);
  cursor: pointer;
}

.description {
  margin-top: -3rem;
  font-size: 2.7rem;
  font-weight: 700;
  color: #656565;
  margin-bottom: 2rem;
}

.name {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.price {
  font-size: 3.3rem;
  color: #656565;
  margin-bottom: 5rem;
}

@keyframes slideIn {
  from {
    transform: translate(-50%, 11%);
    opacity: 0;
  }

  to {
    transform: translate(0%, 11%);
    opacity: 1;
  }
}
