.filter {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(0%, 11%);
  width: 100vw;
  opacity: 1;
  animation: slideIn 1s;
  transition: all;
  background-color: #fff;
  z-index: 50;
}

.products {
  padding: 0 3rem;
  position: relative;
}

.tag {
  background-color: #fff;
  width: 35%;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
  position: absolute;
  z-index: 2;
}

.image img {
  width: 100%;
  position: relative;
}

.button {
  width: 100%;
  font-family: inherit;
  font-weight: 500;
  font-size: 2rem;
  padding: 1.5rem;
  border: none;
  background-color: #000;
  color: #fff;
  letter-spacing: 0.3rem;
  position: relative;
  top: 50%;
  left: -50%;
  transform: translate(50%, -100%);
  cursor: pointer;
}

.description {
  margin-top: -3rem;
  font-size: 2.7rem;
  font-weight: 700;
  color: #656565;
  margin-bottom: 2rem;
}

.name {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.price {
  font-size: 3.3rem;
  color: #656565;
  margin-bottom: 5rem;
}

@keyframes slideIn {
  from {
    transform: translate(-50%, 11%);
    opacity: 0;
  }

  to {
    transform: translate(0%, 11%);
    opacity: 1;
  }
}

@media (width <= 37.4em) {
  .title-bar__desktop {
    display: none;
  }

  .filter-desktop {
    display: none;
  }
}

@media (width > 37.4em) {
  .products {
    padding: 0;
  }

  .mobile {
    display: none;
  }

  .container {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-rows: 20vh 80vh;
    grid-template-columns:
      [sidebar-start] 26.7rem [sidebar-end full-start] 1fr [center-start] repeat(
        8,
        [col-start] minmax(min-content, 14rem) [col-end]
      )
      [center-end]
      1fr [full-end];
  }

  .title-bar__desktop {
    grid-column: sidebar-start / full-end;
  }

  .filter-desktop {
    background-color: #fbfbfb;
    grid-column: sidebar-start / sidebar-end;
  }

  .content {
    grid-column: center-start / center-end;
  }

  .box {
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 2.5rem;
  }

  .filter-desktop {
    background-color: #fff;
  }

  .products {
    display: grid;
    grid-template-rows: 1fr repeat(3, min-content);
  }

  .tag {
    padding: 0.5rem;
    font-size: 1.3rem;
  }

  .image {
    width: 100%;
  }

  .button {
    padding: 0.7rem;
  }

  p {
    margin-bottom: auto !important;
    margin-top: auto !important;
  }

  .description {
    margin-top: auto;
    font-size: 2rem;
    margin-bottom: auto;
  }

  .name {
    font-size: 3rem;
    margin-bottom: auto;
  }

  .price {
    font-size: 3rem;
    margin-bottom: auto;
  }
}
