.navbar {
  background-color: white;
  /* border-bottom: 0.4rem solid #e4e4e4; */
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
  margin: auto;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 14vh;
  margin: auto;
}

.nav-logo {
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  flex-grow: 1;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin: auto;
}

.nav-links {
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.nav-item {
  color: black;
  line-height: 40px;
}

.nav-icon {
  display: none;
}

.search {
  width: 500px;
  margin-left: 4rem;
  display: flex;
  align-items: center;
}

.search-box {
  width: 80%;
  height: 40px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #d1d1d1;
  background: none;
  color: #a9a9a9;
  outline: none;
}

.search-btn {
  width: 20%;
  height: 40px;
  padding: 10px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #383838;
  color: #fff;
  text-transform: capitalize;
  font-size: 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search-box::placeholder {
  color: #6e6e6e;
}

.dropStyle {
  margin: -10px auto 0 auto;
}

.dropItem {
  width: 15rem;
  padding-left: 3rem;
  font-size: 2rem;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #dbe3e4;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    color: black;
    border: none;
  }
  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 2rem;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: black;
  }

  .search {
    width: 300px;
    margin: 2rem auto;
    display: flex;
  }
}
